.jobs {
    padding-top: 129px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 60px;
    }
    &__item {
        width: 33%;
        &:nth-child(4) {
            margin-top: 45px;
        }
        &:nth-child(5) {
            margin-top: 45px;
        }
        &:nth-child(6) {
            margin-top: 45px;
        }
        &_image {
            img {
                display: block;
                margin: 0 auto;
            }
        }
        &_descr {
            text-align: center;
            margin-top: 27px;
            font-family: 'Panton';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            color: #000;
            span {
                color: #FFCC80;
                font-weight: 800;
            }
        }
    }
}